@model SistemaMatriculaCibertec.Models.Curso

@{
    ViewBag.Title = "Eliminar Curso";
}

<div class="page-container">

    <div class="card-custom">

        <div class="card-header-custom">
            <h3 class="mb-1 text-danger">Eliminar Curso</h3>
            <small>¿Estás seguro?</small>
        </div>

        <div class="card-body-custom">

            <p><strong>Código:</strong> @Model.CodigoCurso</p>
            <p><strong>Nombre:</strong> @Model.NombreCurso</p>
            <p><strong>Créditos:</strong> @Model.Creditos</p>
            <p><strong>Vacantes:</strong> @Model.Vacantes</p>
            <p><strong>Estado:</strong> @Model.Estado</p>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-danger">
                    Eliminar
                </button>

                <a href="@Url.Action("Index")" class="btn btn-secondary">
                    Cancelar
                </a>
            }

        </div>
    </div>
</div>