@model SistemaMatriculaCibertec.Models.Curso

@{
    ViewBag.Title = "Detalle Curso";
}

<div class="page-container">

    <div class="card-custom">

        <div class="card-header-custom">
            <h3>Detalle Curso</h3>
        </div>

        <div class="card-body-custom">

            <p><strong>Código:</strong> @Model.CodigoCurso</p>
            <p><strong>Nombre:</strong> @Model.NombreCurso</p>
            <p><strong>Créditos:</strong> @Model.Creditos</p>
            <p><strong>Vacantes:</strong> @Model.Vacantes</p>
            <p><strong>Estado:</strong> @Model.Estado</p>

            <a href="@Url.Action("Edit", new { id = Model.IdCurso })" class="btn btn-primary">
                Editar
            </a>

            <a href="@Url.Action("Index")" class="btn btn-secondary">
                Volver
            </a>

        </div>
    </div>
</div>