@model SistemaMatriculaCibertec.Models.Curso

@{
    ViewBag.Title = "Editar Curso";
}

<div class="page-container">

    <div class="card-custom">

        <div class="card-header-custom">
            <h3 class="mb-1">Editar Curso</h3>
        </div>

        <div class="card-body-custom">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.IdCurso)

                <div class="row">

                    <div class="col-md-6 mb-3">
                        <label>Código</label>
                        @Html.EditorFor(m => m.CodigoCurso, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Nombre</label>
                        @Html.EditorFor(m => m.NombreCurso, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="col-md-4 mb-3">
                        <label>Créditos</label>
                        @Html.EditorFor(m => m.Creditos, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="col-md-4 mb-3">
                        <label>Vacantes</label>
                        @Html.EditorFor(m => m.Vacantes, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="col-md-4 mb-3">
                        <label>Estado</label>
                        @Html.EditorFor(m => m.Estado, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>

                <hr />

                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="@Url.Action("Index")" class="btn btn-secondary">Volver</a>
            }

        </div>
    </div>
</div>